body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    /* margin: 0; */
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
}

.section {
    padding: 120px 0;
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/*? Mobile screen */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;

    outline: 2px solid red;
    outline-offset: -2px;
}

/*? Tablet screen */
@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    padding: 0px 16px;
}
}

/*? Desktop screen */
@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
}
}