.header {
  border-bottom: 1px solid #e7e9fc;
}


.header .container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-list {
    gap: 40px;
  }
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.nav-link:active {
  color: #404bbf;
}

.logo {
  padding: 16px 0;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-accent {
  color: #4d5ae5;
}

.contacts {
  flex-shrink: 0;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding: 0;
  }
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus {
  color: #404bbf;
}

@media only screen and (max-width: 767.98px) {
  .contacts-list {
    display: none;
  }
}

/* Menu btn */

.menu-btn {
  display: flex;
  align-items: center;
  justify-items: center;

  margin-left: auto;
  padding: 0;
  color: #2e2f42;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:hover,
.menu-btn:focus {
}

.menu-btn-icon {
  stroke: currentColor;
}
